<div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
          <div class='card-top'>
            <%#= recipe.image %>
            <%= image_tag recipe.image_url, class: "image", width: "100%", height: "210px" if recipe.image.present? %>
          </div>

          <div class="card-body">
            <p class="cord-title"><%= recipe.title %></p>
            <p class="card-text"><%= recipe.content %></p>
            <%= link_to '詳細', recipe_path(recipe), class: "btn btn-primary btn-sm stretched-link" %>
            <hr>
            <div>
                <% if current_user == recipe.user %>
                    <%= link_to "Delete", recipe, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                    <%= link_to '編集', edit_recipe_path(recipe), class: "btn btn-warning btn-sm" %>
                     
                <% end %>
            </div>
          </div>
         <%= render 'favorites/favorite_button', user: recipe %>
        </div>
      </div>
  <% end %>
  <%= paginate recipes %>
</div>
            