<h1 class="text-center">レシピ詳細</h1>



<div class="row">
        <div class="offset-2 col-md-4">
            <div class="mb-4 shadow-sm">
                タイトル
            </div>  
        </div>
        <div class="col-md-6">
            <div class="mb-4 shadow-sm">
                <%= @recipe.title %>
            </div>
        </div>
        
        <div class="offset-2 col-md-4">
            <div class="mb-4 shadow-sm">
                写真
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4 shadow-sm">
                <%= @recipe.image %>
            </div>
        </div>
        
        <div class="offset-2 col-md-4">
            <div class="mb-4 shadow-sm">
                レシピの説明
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4 shadow-sm">
                <%= @recipe.content %>
            </div>
        </div>
        
        <div class="offset-2 col-md-4">
            <div class="mb-4 shadow-sm">
                材料
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4 shadow-sm">
                <%= @recipe.materials %>
            </div>
        </div>
        
         <div class="offset-2 col-md-4">
            <div class="mb-4 shadow-sm">
                作り方
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-4 shadow-sm">
                <%= @recipe.method %>
            </div>
        </div>
</div>