<h1 class="text-center">レシピ詳細</h1>



<div class="row">
    <div class="offset-4 col-md-4">
        <div class="mb-4">
            タイトル
            <p><%= @recipe.title %></p>
        </div>  
    </div>
</div> 

<div class="row">
    <div class="offset-4 col-md-4">
        <div class="mb-4">
            写真
            <p><%= @recipe.image %></p>
        </div>  
    </div>
</div> 


<div class="row">
    <div class="offset-4 col-md-4">
        <div class="mb-4">
                レシピの説明
            <p><%= @recipe.content %></p>
        </div>  
    </div>
</div>

<div class="row">
    <div class="offset-4 col-md-4">
        <div class="mb-4">
                材料
            <p><%= @recipe.materials %></p>
        </div>  
    </div>
</div>

<div class="row">
    <div class="offset-4 col-md-4">
        <div class="mb-4">
                作り方
            <p><%= @recipe.method %></p>
        </div>  
    </div>
</div>
        