<h1 class="text-center">レシピ詳細</h1>



<div class="row">
    <div class="offset-3 col-md-4">
        <div class="mb-4">
            <h3>タイトル</h3>
            <p><%= @recipe.title %></p>
        </div>  
    </div>
</div> 

<div class="row">
    <div class="offset-3 col-md-4">
        <div class="mb-4">
            <h3>写真</h3>
            <p><%#= @recipe.image %></p>
            <%= image_tag @recipe.image_url if @recipe.image.present? %>
        </div>  
    </div>
</div> 


<div class="row">
    <div class="offset-3 col-md-4">
        <div class="mb-4">
                <h3>レシピの説明</h3>
            <p><%= @recipe.content %></p>
        </div>  
    </div>
</div>

<div class="row">
    <div class="offset-3 col-md-4">
        <div class="mb-4">
                <h3>材料</h3>
            <p><%= @recipe.materials %></p>
        </div>  
    </div>
</div>

<div class="row">
    <div class="offset-3 col-md-4">
        <div class="mb-4">
                <h3>作り方</h3>
            <p><%= @recipe.method %></p>
        </div>  
    </div>
</div>
        